.modal {
  display: block;
  position: fixed;
  z-index: 100;
  top: 78px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart {
  display: block;
  position: absolute;
  right: 72px;

  min-width: 325px;
  max-width: 360px;
  min-height: 200px;
  max-height: 677px;

  padding-right: 16px;
  padding-left: 16px;

  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.header {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.empty {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 32px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.viewBag,
.checkout {
  width: 140px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
  cursor: pointer;
}

.viewBag {
  background: #ffffff;
  border: 1px solid #1d1f22;
}
.checkout {
  background: #5ece7b;
  color: #ffffff;
}

.viewBag:active,
.checkout:active {
  scale: 0.95;
}
