.modal {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
}

.cart {
  display: block;
  position: fixed;
  top: 0;
  min-width: 350px;
  max-width: 350px;
  min-height: 677px;
  max-height: 677px;
  background-color: rgb(255, 255, 255);
  top: 60px;
  right: 10px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
