.big_cart_item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.big_cart_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.count__button {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  user-select: none;
  padding: 12px;
  margin: 2px;
  cursor: pointer;
  font-size: 10px;
}

.count__button:hover {
  background-color: #1d1f223b;
}
