.big_cart_image {
  width: 200px;
  height: 288px;
  user-select: none;
}

.image_control {
  position: relative;
}
.image_buttons {
  width: 30%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  right: 10px;
  user-select: none;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.73);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
