.product__form {
  display: flex;
}

/* ======================== */

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .boxes {
  background-color: #1d1f22;
}

input[type="radio"]:checked + .boxes {
  color: #ffffff;
}

input[name="Color"] {
  display: none;
}
input[name="Color"]:checked + .boxes__color {
  border: 1px solid #5ece7b;
  padding: 0.5px;
}

.boxes,
.boxes__color {
  display: flex;
  width: 63px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  user-select: none;
  margin: 5px;
  cursor: pointer;
}
.boxes__color {
  width: 32px;
  height: 32px;
}

.boxes {
  padding: 3px;
}
