.title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 55px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 80px;
}
.cart_main {
  margin-right: 100px;
  margin-left: 100px;
}
