.cart {
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
}

.header {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 55px;
}

.order {
  width: 279px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
  background: #5ece7b;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

.order:active {
  scale: 0.95;
}
