.product {
  display: flex;
  margin-bottom: 20px;
  cursor: default;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}

.title_cart {
  margin-top: 0;
  margin-bottom: 20px;
}

.gallery_cart {
  width: 200px;
  height: 288px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.counter_cart {
  display: flex;
}

.counter_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  background: #ffffff;
  cursor: pointer;
  font-size: 24px;
}

.amount {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.counter_cart:hover {
  background: #dadada;
}

.counter_cart:active {
  scale: 0.95;
}
