.variants {
  display: flex;
}

.check_color {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  margin: 1px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  padding: 16px;
  margin: 5px;
}

.prices {
  display: flex;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.158);
}
