@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@200&family=Raleway&family=Roboto+Condensed&family=Roboto+Mono&family=Source+Sans+Pro&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@200&family=Raleway&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&family=Source+Sans+Pro&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@200&family=Raleway&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&family=Source+Sans+Pro&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");

.price {
  margin-top: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto Condensed";
}

.addToCart,
.disabled {
  border: none;
  width: 292px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  background: #5ece7b;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.article {
  width: 292px;
  margin-top: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
}

.disabled {
  background: rgba(141, 143, 154, 1);
  cursor: not-allowed;
}

.addToCart:active {
  scale: 0.95;
}
.disabled:active {
  scale: 1;
}

.name {
  margin-bottom: 43px;
}

.details {
  margin-top: 10px;
}

.header {
  margin: 0;
}
