.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 386px;
  height: 444px;
  padding-left: 16px;
  box-sizing: border-box;
  margin: 40px;
}

.card_outOfStock {
  opacity: 0.5;
  position: relative;
}

.no_text {
  position: absolute;
  left: 32.42%;
  right: 25.71%;
  top: 40.24%;
  bottom: 43.94%;

  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  align-items: center;

  color: #8d8f9a;
}

.card__image {
  display: flex;
  object-fit: contain;
  min-width: 356px;
  max-width: 356px;
  max-height: 338px;
  min-height: 338px;
}
.price {
  display: flex;
}

.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.719);
}
