.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  max-width: 386px;
  height: 444px;
  flex-basis: 413px;
  padding: 11px 14px 0 16px;
  box-sizing: border-box;
}

.outOfStock {
  opacity: 0.5;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  align-items: center;
  color: #8d8f9a;
}

.image {
  display: flex;
  position: relative;
  object-fit: cover;
  min-width: 356px;
  max-width: 356px;
  max-height: 338px;
  min-height: 338px;
  margin-bottom: 21px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.price {
  display: flex;
  font-weight: 700;
}

.fast_cart {
  display: none;
  position: relative;
  bottom: 140px;
  left: 280px;
  border: none;
  cursor: pointer;
}
.cart {
  position: absolute;
  top: 15px;
  left: 12px;
}

.card:hover + .fast_cart {
  display: block;
}

.fast_cart:hover {
  display: block;
  opacity: 0.8;
}
.fast_cart:active {
  scale: 0.95;
}

.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.637);
}
