.image_mini {
  max-width: 121px;
  max-height: 190px;
  object-fit: cover;
  margin: auto;
  box-sizing: border-box;
}

.image_cart {
  width: 200px;
  height: 288px;
  object-fit: contain;
  margin: auto;
  box-sizing: border-box;
}

.image_control {
  position: relative;
}
.image_buttons {
  width: 30%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 16px;
  right: 16px;
  user-select: none;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.73);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
