@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@200&family=Raleway&family=Roboto+Condensed&family=Roboto+Mono&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Expletus+Sans:ital@1&family=Graduate&family=Handlee&family=Oleo+Script:wght@400;700&family=Orbitron&family=Poppins:wght@200&family=Raleway&family=Roboto+Condensed&family=Roboto+Mono&family=Spline+Sans+Mono&family=Tapestry&family=Updock&family=Water+Brush&display=swap");

.product__details {
  max-width: 160px;
  min-height: 150px;
  display: flex;
  flex: 1;
  /* border: 3px solid blue; */
}

.product__form {
  display: flex;
}
.product__details_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__brand_name {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  margin: 5px;
}

.product__name {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  margin: 5px;
}

.attribute__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
}

.product__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  margin: 5px;
}

/* ======================== */

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .boxes {
  background-color: #1d1f22;
}

input[type="radio"]:checked + .boxes {
  color: #ffffff;
}

input[name="Color"] {
  display: none;
}
input[name="Color"]:checked + .boxes__color {
  border: 1px solid #5ece7b;
  padding: 0.5px;
}

.boxes,
.boxes__color {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  user-select: none;
  /* padding: 12px; */
  margin: 2px;
  cursor: pointer;
  font-size: 10px;
}

.boxes {
  padding: 3px;
}
