a {
  text-decoration: none;
  color: #1d1f22;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 100px;
}

.nav__links {
  width: 200px;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.nav__curr_n_cart {
  display: flex;
  justify-content: space-between;
  width: 70px;
  cursor: pointer;
}

.green_logo {
  position: relative;
  width: 33px;
  height: 30px;

  z-index: 0;
}
.round_line {
  position: absolute;
  top: 12px;
  left: 8px;
}
.round_arrow {
  position: absolute;
  top: 9px;
  right: 7px;
}

.active {
  color: #5ece7b;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;

  left: 0px;
  bottom: -30px;
  width: 100%;
  height: 3px;

  background: #5ece7b;
  z-index: -1;
}
