.main__total {
  margin-top: 32px;
  margin-right: 100px;
  margin-left: 100px;
}
.tax {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.quantity {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.total {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.amount {
  display: flex;
  margin-left: 44px;
  font-weight: 700;
  line-height: 24px;
}

.buttons_order {
  border: none;
  width: 279px;
  height: 43px;
  background: #5ece7b;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  margin-top: 16px;
  margin-bottom: 274px;
}
