.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.variants {
  display: flex;
}

.check_color {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  margin: 1px;
}

.select {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 1px;
}

div[name="Capacity"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.prices {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .select {
  background-color: #1d1f22;
}

input[type="radio"]:checked + .select {
  color: #ffffff;
}

input[name="Color"] {
  display: none;
}
input[name="Color"]:checked + .check_color {
  outline: 1px solid #5ece7b;
  border: 1px solid rgb(255, 255, 255);
}
