.currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  width: 90px;
  min-height: 100px;
  background: #ffffff;
  z-index: 2;
  box-shadow: 0px 4px 10px rgba(155, 173, 185, 0.336);
  filter: drop-shadow(0px 4px 10px rgba(155, 173, 185, 0.336));
  user-select: none;
  z-index: 101;
  cursor: pointer;
}

.currencies {
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.symbol {
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 5px;
}
.label {
  margin-right: 10px;
}
.currency_button {
  width: 100%;
  text-align: center;
}
.toogleArrow {
  width: 11px;
  margin-left: 3px;
}

.currencies:hover {
  background: #46464665;
}
