.land {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 386px;
  max-width: 386px;
  height: 444px;
  max-height: 444px;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 30px;
  box-sizing: border-box;
  position: relative;
  /* background: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19); */
}

.card__image,
.card__image_outOfStock {
  width: 356px;
  height: 338px;
  z-index: 1;
  /* border: 1px solid rgba(85, 85, 85, 0.11); */
}

.prev,
.prev_outOfStock {
  margin-top: 10px;
  color: #1d1f22;
  box-sizing: border-box;
}
.prev_outOfStock {
  color: #8d8f9a;
}

.name {
  font-size: 18px;
  font-weight: 300;
}

.price,
.price_outOfStock {
  font-size: 18px;
  font-weight: bold;
  line-height: 160%;
  text-align: left;
}

.card__image_outOfStock {
  opacity: 0.5;
}

.card_outOfStock {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;
  color: #8d8f9a;
}

.green_cart {
  position: absolute;
  display: none;
  z-index: 2;
  overflow: hidden;
  bottom: 60px;
  right: 50px;
  mix-blend-mode: normal;
}
.round {
  position: relative;
}
.cart {
  position: absolute;
  left: 13px;
  top: 17px;
}

.wheel1,
.wheel2 {
  position: absolute;
  top: 32px;
  left: 20px;
}

.wheel2 {
  left: 32px;
}

.sort_button {
  position: absolute;
  top: 80px;
  right: 210px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.034);
  user-select: none;
}

.sort_button:hover {
  background: #7e7e7e15;
}

.card:hover > .green_cart {
  display: block;
}

.card:hover {
  /* box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.65); */
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}
.green_cart:hover {
  /* background: red; */
  /* box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.774); */
  filter: brightness(0.9);
  cursor: pointer;
}
